@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");

body {
  margin: 0;
  display: block;
}

main {
  font-family: "Inter", sans-serif;
  padding: 0px;
  background-color: hsl(233, 47%, 7%);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px 0 0 10px;
  max-width: 60%;
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.1);
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
h1 {
  font-size: 34px;
}
h1 span {
  color: hsl(277, 64%, 61%);
}

img {
  max-width: 100%;
  border-radius: 0 10px 10px 0;
  position: relative;
  filter: opacity(0.5) drop-shadow(0 0 0 hsl(277, 64%, 61%));
  object-fit: cover;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0;
}
/* img {
  padding: 0;
  object-fit: cover;
  display: block;
} */

/* .card:hover .img-content {
  object-fit: cover;
  max-width: 5%;
  background-color: hsl(277, 64%, 61%);
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card:hover img {
  filter: opacity(0);
} */

article {
  padding: 40px 100px 40px 60px;
  display: block;
}

article p {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 10px;
  line-height: 1.6;
}

.stats {
  display: flex;
  flex-direction: row;

  padding-top: 70px;
}

.stats span {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.stats p {
  padding-right: 10px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 11px;
  padding-right: 80px;
}
